// COLORS
$primary-color: #22b3c1;
$primary-bg-color: #ffffff;
$border-color: #eeeeee;
$secondary-text-color: #2a2a2a;
$grayish-text-color: #afafaf;

// FONTS
$font-family: "Poppins", "Arial", sans-serif;