.cta {
  background-image: url("/img/cta-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}

.cta :focus {
  outline: 2px dotted #ffffff;
  outline-offset: 3px;
}


.cta__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta__content {
  color: $primary-bg-color;
}
.cta__heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.cta__subheading {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

@include breakpoint-down (800px) {
  .cta {
    padding: 40px 0;
  }
  .cta__container {
    flex-direction: column;
  }
}

@include breakpoint-down (650px) {
  .cta__heading {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 38px;
  }
  .cta__subheading {
    font-size: 18px;
    line-height: 20px;
  }
}

@include breakpoint-down (500px) {
  .cta__heading {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 25px;
  }
  .cta__subheading {
    font-size: 15px;
    line-height: 17px;
  }
}