.lang-socials__link {
  display: block;
  line-height: 22.5px;
  text-decoration: none;
  color: $primary-bg-color;
  transition: color 0.5s ease;

  &:hover {
    color: $secondary-text-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.lang-socials__icon {
  display: block;
  width: 17px;
  height: 17px;
  color: $primary-bg-color;
}
