.location {
  padding-top: 40px;
  padding-bottom: 40px;
}

.location__content {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
.location__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $secondary-text-color;
}
.location__description {
  line-height: 30px;
}
.location__cards {
  display: flex;
  width: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

@include breakpoint-down (1150px) {
  .location {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .location__content {
    max-width: 100%;
    width: 80%;
  }

  .location__cards {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include breakpoint-down (1050px) {
  .location__cards {
    width: 800px;
  }
}

@include breakpoint-down (850px) {
  .location__cards {
    width: 600px;
  }
}

@include breakpoint-down (650px) {
  .location__cards {
    width: 500px;
  }

  .location__card--none {
    display: none;
  }
}

@include breakpoint-down (550px) {
  .location {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .location__heading {
    margin-top: 0;
  }

  .location__cards {
    width: 400px;
  }
}

@include breakpoint-down (450px) {
  .location__cards {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
}