.site-header {
  position: relative;
  z-index: 1;
  padding: 15px 35px;
  background-color: $primary-color;
}

.site-header :focus {
  outline: 2px dotted #ffffff;
  outline-offset: 3px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-link {
  display: block;
}

.site-header__logo {
  display: block;
  width: 159px;
  height: 41px;
  margin-right: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-header__toggler {
  display: none;
  width: 24px;
  height: 19px;
  border: 0;
  background-color: transparent;
  background-image: url("/img/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.site-header--open .site-header__toggler {
  background-image: url("/img/x-icon.svg");
}


@include breakpoint-down (900px) {
  .site-header {
    padding: 10px 20px;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header__toggler {
    display: block;
  }

  .site-header--open .site-header__sitenav {
    display: block;
    position: absolute;
    top: 120%;
    z-index: 1000;
    background-color: $primary-bg-color;
    width: 80%;
  }


}